<div class="container">
    <div class="row topSpacing">
        <div class="col-md-offset-4 col-md-4">
            <form (ngSubmit)="login()" class="well" novalidate #loginForm='ngForm'>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="username">Username</label>
                        <input type="email" id="username" #username="ngModel" [ngModelOptions]="{standalone: true}" class="form-control" required
                            [(ngModel)]="loginModel.Username" placeholder="Username" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$">
                        <p class="text-danger" [hidden]="username.valid || username.untouched" *ngIf="username.errors && username.errors.required">
                            Username is required
                        </p>
                        <p class="text-danger" [hidden]="username.valid || username.untouched" *ngIf="username.errors && username.errors.pattern">
                            Username is invalid
                        </p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-12">
                        <label for="password">Password</label>
                        <input type="password" id="password" #password="ngModel" [ngModelOptions]="{standalone: true}" class="form-control" required
                            [(ngModel)]="loginModel.Password" placeholder="Password">
                        <p class="text-danger" [hidden]="password.valid || password.untouched" *ngIf="password.errors && password.errors.required">
                            Password is required
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 text-danger">
                        <span>{{errorMessage}}</span>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-info btn-fill pull-right" [disabled]="!loginForm.form.valid" (click)="login()">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="clearfix"></div>
    </div>
</div>