<div class="container">
    <div id="profile" class="row form-group well">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2 class="title">About Us</h2>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-lg btn-primary" [routerLink]="['/aboutus/profile']">Profile</button>
                <button type="button" class="btn btn-lg btn-primary" [routerLink]="['/aboutus/team']">Team</button>
                <button type="button" class="btn btn-lg btn-primary" [routerLink]="['/aboutus/contactus']">Contact Us</button>
            </div>
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>