<div id="profile" class="row form-group well">
    <div class="col-md-12">
        <div class="header">
            <h4 class="title">Profile</h4>
        </div>
        <div class="content">
            Profile
        </div>
    </div>
</div>