<div id="contactus" class="row form-group well">
    <div class="col-md-12">
        <div class="header">
            <h4 class="title">Contact Us</h4>
        </div>
        <div class="content">
            DJ Alexander have offered property services for over 34 years. Founded by David Alexander in 1982, the business has grown
            organically through client recommendations and, with offices in Edinburgh & Glasgow, we are now the largest agency
            in Central Scotland.
        </div>
    </div>
</div>