<div id="team" class="row form-group well">
    <div class="col-md-12">
        <div class="header">
            <h4 class="title">Team</h4>
        </div>
        <div class="content">
            David Alexander, Managing Director, Edinburgh Office<br> John Alexander, Managing Director, Edinburgh Office
        </div>
    </div>
</div>