<div class="container">
    <div class="row form-group topSpacing">
        <div class="jumbotron">
                <button class="btn btn-fill btn-danger pull-right" (click)="logout()">Logout</button>
                <h2 class="title">Home</h2>
            </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>
                    <h2><a [routerLink]="['/aboutus']">About Us</a></h2>
                </li>
            </ul>
        </div>
    </div>
</div>